@charset "UTF-8";

body{
    background-color: rgb(229, 172, 222);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
h1{
    color: rgb(255, 0, 102);
    background-color: rgb(239, 185, 245);

}
h2{
    color: rgb(255, 0, 102);

}
p{
    text-align: justify;
}